#gallery1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    .column{
        display: grid;
        grid-gap: 10px;

        img{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px){
    #gallery1{
        grid-template-columns: 1fr 1fr;
    }
}